@model IEnumerable<EventosTestMVC.Models.AvatarUser>

@{
    ViewData["Title"] = "Select Avatar";
}

<h1>Eligue tu Avatar</h1>

<div class="row">
    @foreach (var avatar in Model)
    {
        <div class="col-md-3 mb-4">
            <a asp-action="Select" asp-route-id="@avatar.Id" class="card-link d-block">
                <div class="card h-100" style="background-color: rgba(249, 231, 159, 0.5); border-radius: 15px; overflow: hidden;">
                    <!-- Puedes personalizar el estilo según tus necesidades -->
                    <div class="card-body">
                        <div class="lottie-container" data-json-path="@avatar.Name"></div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
    <script>
        document.querySelectorAll('.lottie-container').forEach(function (container) {
            var jsonPath = container.getAttribute('data-json-path');

            if (jsonPath !== "") {
                var animation = bodymovin.loadAnimation({
                    container: container,
                    renderer: 'svg',
                    loop: true,
                    autoplay: true,
                    path: jsonPath
                });
            }
        });
    </script>
}
