
<header>
    <nav class="navbar  " id="barra">
        <form class="container-fluid justify-content-start text-center">

            <div class="col-sm-3">
                <a class="navbar-brand" href="#">
                    <button class="btn btn-outline-white me-2" type="button" id="menu"><img src="~/img/editar.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
                </a>
            </div>

            <div class="col-sm-3">
                <a class="navbar-brand" href="#">
                    <button class="btn btn-outline-white me-2" type="button" id="menu"><img src="~/img/invitados.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
                </a>
            </div>

            <div class="col-sm-3">
                <a class="navbar-brand" href="#">
                    <button class="btn btn-outline-white me-2" type="button" id="menu"><img src="~/img/fot_video.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
                </a>
            </div>

            <div class="col-sm-3">
                <a class="navbar-brand" href="#">
                    <button class="btn btn-outline-white me-2" type="button" id="menu"><img src="~/img/mensaje.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"></button>
                </a>
            </div>

        </form>
    </nav>
</header>