

#menu {
    padding: 16px;
    margin-left: 4px;
}

.subir {
    background-color: white;
    color: #FD4685;
    border-radius: 15rem;
    display: flexbox;
    font-weight: bold;
    border-color: #FD4685;
    font-size: 20px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#invitados {
    margin-top: 40px;
    text-align: center;
}


#asistencia {
    font-weight: 600;
}

#menug {
    padding: 16px;
    margin-right: 8px;
    margin-inline-start: 38px;
}



#barra {
    background-color: #4911F7;
}

#horayagenda {
    margin: 10px;
    padding: 2px;
    color: white;
    background-color: #FFE0E6;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-color: #FFE0E6;
    box-shadow: 0 0 10px #FD4685;
}

.mesa {
    color: #4911F7;
    font-weight: bold;
}


#btn_enviar {
    border-radius: 35rem;
    margin-left: 20px;
    border-color: #FD4685;
    background-color: white;
}


#menulink {
    text-decoration-line: none;
    color: black;
}

#boton {
    background-color: white;
    color: #4911F7;
    border-radius: 15rem;
    display: flexbox;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#logout {
    background-color: white;
    border-color: #4911F7;
    border-radius: 15rem;
    color: #4911F7;
    font-weight: bold;
    padding: 2px;
    font-size: 18px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#iclave {
    border-radius: 15rem;
}


#btn-login {
    background-color: #4911F7;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


#hlogin {
    background-image: url(img/fondo.jpg);
    height: 350px;
}


#fond {
    background-image: url(img/fondo.jpg);
    color: white;
    margin-block-start: 50px;
}


/*para los iconos*/
.alto {
    margin-block-start: 80px;
    text-align: center;
}


.lista-redes {
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

    .lista-redes li {
        padding: 10px;
    }

/*para los titulos, alto*/
.tit {
    margin-block-start: 30px;
}

.abj {
    margin-block-start: 30px;
    margin-block-end: 70px;
}



/*para movil*/
@media (min-width:768px) {
    .lista-redes {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#comentario {
    padding: 25px;
}


/*para escritorio*/

@media(min-width:1024px) {
    .lista-redes img {
        width: 64px;
        height: 64px;
    }

    #Contacto.caja-flex {
        justify-content: space-around;
    }

    .contenedor-aspectratio {
        width: auto;
    }

    #comentario {
        padding: 60px;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
    }
}
