@model List<UsuarioToEvento>
@{
}


<h1>Invitados</h1>
<ul class="list-group">

    @foreach (var invitado in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @invitado.Usuario.Nombre @invitado.Usuario.Apellido

            @if(invitado.EstaConfirmado){
                <span class="badge rounded-pill bg-success">Confirmo asistencia</span>

            }
            else
            {
                <span class="badge rounded-pill bg-danger">No confirmo asistencia</span>

            }
        </li>
    }


</ul>